@import 'variables.scss';

// WIDGETS
.widget-container {
  .container {
    padding: 0 23px;
  }

  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-8 {
    padding: 0 8px !important;
    // display: flex;
  }
}

.widget {
  min-height: 40px;
  margin-bottom: 15px;
  padding: 15px;

  align-items: stretch;
  //   height: 100%;
  width: 100%;

  background: #fff;
  // box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 21px -14px #000;
}

.w-head {
  text-transform: uppercase;
  font-weight: 600;
  min-height: 25px;
  border-bottom: 1px solid #eceaea;
  margin-bottom: 10px;

  .fas {
    margin-right: 5px;
  }
}

.steps {
  margin: 0 -18px 15px;
  height: 31px;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 18px 0;

  ul {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
  }

  li {
    font-size: 110%;
    line-height: 14px;
    color: #fff;
    background: gray;
    list-style: none;
    white-space: nowrap;
    padding: 8px 13px;
    margin-right: 18px;
    border-radius: 3px;
    position: relative;
    height: 31px;
    display: table-cell;

    &:first-child {
      &:before {
        content: none;
      }
    }

    &:last-child {
      margin-right: 0;

      &:after {
        content: none;
      }
    }

    &:after,
    &:before {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
    }

    &:after {
      border-left: 15px solid gray;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      right: -13px;
      top: -1px;
    }

    &:before {
      border-width: 17px 16px;
      border-style: solid;
      border-color: gray gray gray transparent;
      left: -18px;
      top: -2px;
    }

    &.completed {
      background: $color-success;

      &:before {
        border-color: $color-success $color-success $color-success transparent;
      }

      &:after {
        border-left-color: $color-success;
      }
    }

    &.error {
      background: $color-error;

      &:before {
        border-color: $color-error $color-error $color-error transparent;
      }

      &:after {
        border-left-color: $color-error;
      }
    }

    &.active {
      width: 45%;
      background: $color-active;

      &:before {
        border-color: $color-active $color-active $color-active transparent;
      }

      &:after {
        border-left-color: $color-active;
      }
    }
  }
}

.card {
  border-radius: 3px;
  margin-bottom: 3rem;
  box-shadow: 0 6px 20px -10px #000;
  background: #fff;
}

.card-body {
  padding: 2rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-custom {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;

  td,
  th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
    border-bottom: 1px solid #dee2e6;
  }

  tr:nth-child(odd) td {
    background: #fafafa;
  }

  tr {
    &:last-child td {
      border-bottom: none;
    }
  }
}

.panel {
  padding: 6px 13px 11px;
  border: 2px dotted silver;
  border-radius: 4px;
  margin-bottom: 20px;
  background: #fbfbfb;
}

.list-simple {
  margin: 0;
  padding: 0;

  li {
    padding: 0 0 8px;
    list-style: none;
  }
}

.face-panel {
  z-index: 1000;
  display: none;
  position: absolute;
  background: #fff;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 8px 15px;
  box-shadow: 0 0 16px #adadad;
  border-radius: 3px;

  hr {
    margin: 10px 0 5px;
  }

  table {
    width: 100%;

    td {
      padding: 3px 0;
      vertical-align: top;
    }

    td:nth-child(2) {
      text-align: right;
    }
  }
}

.face-block {
  // display: flex;
  position: relative;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
  float: right;

  .face-name {
    color: #fff;
    margin: 11px 10px 0 0;
    white-space: nowrap;
    float: left;
  }

  .face {
    height: 30px;
    width: 30px;
    top: 5px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 6px #000;
    // display: flex;
    border: 2px solid #fff;
    overflow: hidden;
    float: right;

    img {
      height: 100%;
      margin: auto;
      padding: 0 0 0 3px;
    }
  }

  &:hover {
    background: #000;

    .face-panel {
      display: block;
    }
  }
}

.side-menus {
  padding: 15px;
  border: 1px dotted silver;
  border-radius: 4px;
}

.btn-icon {
  float: right;
  color: #5f5f5f;
  padding: 10px;
  position: relative;
  top: -40px;
  border-left: 1px dotted #d9d9d9;
  height: 34px;
  cursor: pointer;
}
